.dialog-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.dialog-container {
  position: relative;
  z-index: 50;
}

.dialog-panel {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90vw;
  align-items: center;
  text-align: center;
}
.solutions-scrollable {
  max-height: 65vh;
  overflow-y: auto;
}
.people-scrollable {
  max-height: 65vh;
  overflow-y: auto;
}
.info-scrollable {
  max-height: 65vh;
  overflow-y: auto;
}
.info-description {
    text-align: left;
}
.info-header {
    padding-top: 2em;
}
.image-tiny {
    max-height: 2.5em;
    max-width: 2.5em;
}
.avatar-container {
    height: 2.5em;
    width: 2.5em;
    padding-right: 1em;
    align-content: center;
}

.person-search-display {
    align-items: center;
    display: flex;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: left
}
@media (prefers-color-scheme: dark) {
  .dialog-panel {
    background-color: #1f2937;
    color: #f3f4f6;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
  }
}